/* You can add global styles to this file, and also import other style files */

@keyframes donut-spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
:root  {
  --lpx-logo: url('/assets/images/logo/logo4.png');
  --lpx-logo-icon: url('/assets/images/logo/logo6.png');
  --lpx-brand:#c4b03d;
  --lpx-primary: #c4b03d;
  --lpx-secondary:#746721;
  --lpx-success: #31b94f;
  --lpx-light: #f5f5f7;
  --lpx-info: #438aa7;
  --lpx-danger: #c00d49;
  --lpx-warning: #ff9f38;
}
.ngx-datatable.material .datatable-body  .datatable-body-row:hover  .datatable-body-cell {
  background-color: #f5f5f7;
}
.donut {
  display: inline-block;
  border: 4px solid rgba(0, 0, 0, 0.1);
  border-left-color: #7983ff;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  animation: donut-spin 1.2s linear infinite;

  &.centered {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .ngx-datatable.material .datatable-body .datatable-body-row .datatable-body-cell .btn {
    font-size: 1em;
    font-weight: bold;
    background: #c4b03d;
    color: #ffffff;
    margin: 0;
    padding: 0.375rem 0.5rem;
    border-color: #f5f5f7;
    min-width: 120px; /* توحيد عرض الأزرار */
}

}
.lpx-brand-logo {
    background-image: var(--lpx-logo);
    background-repeat: no-repeat;
    background-size: auto 50px;
    background-position: left 0px;
    height: 50px;
   
}
.lpx-logo-container {
  padding: 10px;

}
.btn-primary {
  --bs-btn-color: #fff;
  --bs-btn-bg: #c4b03d;
  --bs-btn-border-color: #c4b03d;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg:#b19f39;
  --bs-btn-hover-border-color:#b19f39;
  --bs-btn-focus-shadow-rgb: 83, 117, 255;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #c4b03d;
  --bs-btn-active-border-color:#c4b03d;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg: #f5e06c;
  --bs-btn-disabled-border-color: #f5e06c;
}
.btn-secondary {
  --bs-btn-color: #fff;
  --bs-btn-bg: #f5c152;
  --bs-btn-border-color: #f5c152;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #dab055;
  --bs-btn-hover-border-color: #dab055;
  --bs-btn-focus-shadow-rgb: 130, 117, 218;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #ffcb5c;
  --bs-btn-active-border-color: #ffcb5c;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg: #6c5dd3;
  --bs-btn-disabled-border-color: #6c5dd3;
}
.dropdown-menu {
  --bs-dropdown-zindex: 1000;
  --bs-dropdown-min-width: 10rem;
  --bs-dropdown-padding-x: 0;
  --bs-dropdown-padding-y: 0.5rem;
  --bs-dropdown-spacer: 0.125rem;
  --bs-dropdown-font-size: 0.875rem;
  --bs-dropdown-color: #686b6e;
  --bs-dropdown-bg: #ffffff;
  --bs-dropdown-border-color: #e7e9ec;
  --bs-dropdown-border-radius: 0.5rem;
  --bs-dropdown-border-width: 1px;
  --bs-dropdown-inner-border-radius: 0.5rem;
  --bs-dropdown-divider-bg: #e7e9ec;
  --bs-dropdown-divider-margin-y: 0.75rem;
  --bs-dropdown-box-shadow: 0 0 20px 0 rgba(76, 87, 125, 0.02);
  --bs-dropdown-link-color: #686b6e;
  --bs-dropdown-link-hover-color: #161616;
  --bs-dropdown-link-hover-bg: #f5f5f7;
  --bs-dropdown-link-active-color:  #ffffff;
  --bs-dropdown-link-active-bg:#c4b03d;
  --bs-dropdown-link-disabled-color: rgba(104, 107, 110, 0.5);
  --bs-dropdown-item-padding-x: 1.5rem;
  --bs-dropdown-item-padding-y: 0.375rem;
  --bs-dropdown-header-color: #c4b03d;
  --bs-dropdown-header-padding-x: 1.5rem;
  --bs-dropdown-header-padding-y: 0.5rem;
  position: absolute;
  z-index: var(--bs-dropdown-zindex);
  display: none;
  min-width: var(--bs-dropdown-min-width);
  padding: var(--bs-dropdown-padding-y) var(--bs-dropdown-padding-x);
  margin: 0;
  font-size: var(--bs-dropdown-font-size);
  color: var(--bs-dropdown-color);
  text-align: left;
  list-style: none;
  background-color: var(--bs-dropdown-bg);
  background-clip: padding-box;
  border: var(--bs-dropdown-border-width) solid var(--bs-dropdown-border-color);
  border-radius: var(--bs-dropdown-border-radius);
  box-shadow: var(--bs-dropdown-box-shadow);
}
.lpx-sidebar {
  background-color: #232319;
  color:#f5f5f7;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  height: 100%;

}
.lpx-sidebar-container .lpx-sidebar .lpx-nav .lpx-nav-menu {
  background-color:  #232319;
  max-width: 280px;
  color:#f5f5f7;

}
.lpx-nav-menu .lpx-menu-item-link.selected {
  color:#f5f5f7;
  background-color: #232319;


}
.lpx-sidebar .lpx-logo-container {
  position: fixed;
  width: 280px;
  z-index: 100;
  background-color: #232319;
  top: 0;


}
.lpx-nav-menu .lpx-menu-item-link.selected .lpx-menu-item-icon, .lpx-nav-menu .lpx-menu-item-link.selected .dd-icon {
  color: var(--lpx-brand);
  opacity: 1;
}
.lpx-nav-menu .lpx-menu-item-link {
  display: flex;
  width: 100%;
  cursor: pointer;
  //color: #c4b03d;
  color:#f5f5f7;
  height: 48px;
  line-height: 48px;
  transition: color 0.25s ease, background-color 0.3s ease;
  margin: 1px 0;
  padding: 0 12px;
  position: relative;

}
.lpx-nav-menu .lpx-menu-item-link:hover {
  color: #c4b03d;
}
.lpx-topbar-container {
  flex-wrap: wrap;
  position: sticky;
  top: 0;
  padding: 0;
  background-color: #222225e7;
  z-index: 101;
}
.lpx-nav {
  background-color: #232319;
}
.lpx-content-container .lpx-content {
  padding: 1.25em 2em 3em;
  margin: 0 auto;
  background-image: url(/assets/images/9.jpg);
  background-size: cover;
  background-repeat: no-repeat;

}
.card {
  --bs-card-spacer-y: 1.5rem;
  --bs-card-spacer-x: 1.5rem;
  --bs-card-title-spacer-y: 0.25em;
  --bs-card-border-width: 0;
  --bs-card-border-color: #ffffff;
  --bs-card-border-radius: 0.5rem;
  --bs-card-box-shadow: 0 0 20px 0 rgba(76, 87, 125, 0.02);
  --bs-card-inner-border-radius: 0.5rem;
  --bs-card-cap-padding-y: 1.5rem;
  --bs-card-cap-padding-x: 1.5rem;
  --bs-card-cap-bg: transparent;
  --bs-card-cap-color: ;
  --bs-card-height: ;
  --bs-card-color: #686b6e;
  --bs-card-bg: #ffffff;
  --bs-card-img-overlay-padding: 1.5rem;
  --bs-card-group-margin: 0.75rem;
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  height: var(--bs-card-height);
  word-wrap: break-word;
  background-color: var(--bs-card-bg);
  background-clip: border-box;
  border: var(--bs-card-border-width) solid var(--bs-card-border-color);
  border-radius: var(--bs-card-border-radius);
  box-shadow: var(--bs-card-box-shadow);
}
input, button, select, optgroup, textarea {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}
.page-title {
  font-size: 2.5rem;
  font-weight: bold;
  color: #fcfffe; /* لون أزرق جذاب */
  font-family: 'Arial', sans-serif; /* تغيير الخط */
  text-shadow: 1px 1px 3px #f8d2a0, 1px 1px 3px #f8d2a0, 1px 1px 3px #f8d2a0, 1px 1px 3px #eeecec;

}