

  .card .card-header .btn {
    font-size: 1em;
    font-weight: 400;
    background: #c4b03d;
    color: #ffffff;
    margin: 0;
    padding: 0.375rem 0.5rem;
    border-color: #f5f5f7;
    min-width: 120px; /* توحيد عرض الأزرار */
  
  }