.movie-form {
  max-width: 600px;
  margin: 0 auto;

  .form-group {
    margin-bottom: 15px;

    label {
      display: block;
      font-weight: bold;
      margin-bottom: 5px;
      color: #333; /* لون الرأس */
      padding: 5px; /* padding لإضفاء المساحة حول النص */
      border-radius: 4px; /* حدود مستديرة */
    }

    input, textarea {
      width: 100%;
      padding: 8px;
      border: 1px solid #ccc;
      border-radius: 4px;
      background-color: #f9f9f9;
    }

    input[disabled], textarea[disabled] {
      color: #555;
      border-color: #c4b03d;
    }
  }
  
  .image-display {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  
  .thumbnail {
    width: auto;
    height: 100px;
  }
  
  .actors-list {
    list-style-type: none;
    padding: 0;
  }
  
  .actors-list li {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 5px;
  }
  
  .actor-thumbnail {
    width: 50px;
    height: auto;
  }
  
  .button {
    margin-top: 20px;
  }
  .btn {
    font-size: 1em;
    font-weight: bold;
    background: #c4b03d;
    color: #ffffff;
    margin: 0;
    padding: 0.375rem 0.5rem;
    border-color: #f5f5f7;
    padding: 0.5rem 0.75rem;
    min-width: 120px; /* توحيد عرض الأزرار */
    
  
  }
  .show {
    
    overflow-y: auto;
    background-color: #f9f9f9;
    list-style: none;
    margin-top: 0.25rem;
    width: 100%;
    padding: 8px;
    border-radius: 4px;
    color: #555;
    border-width: 1px;
    border: 1px solid #c4b03d;

  }
}
