.movie-details {
    padding: 16px;
  }
  
  .poster-container,
  .cover-container {
    width: 200px; // حجم ثابت للصورة
    height: 300px; // حجم ثابت للصورة
    overflow: hidden; // لمنع خروج الصورة عن الإطار
    margin-bottom: 16px;
  
    img {
      width: 100%;
      height: 100%;
      object-fit: cover; // لتلائم الصورة الإطار المحدد بشكل مناسب
    }
  }
  