<div class="container mt-4">
  <h1 class="page-title text-center mb-4">{{ movieId ? 'Edit Movie' : 'Create New Movie' }}</h1>

<div class="card">
<div class="card-body">
<div class="add-movie-container">

  
  <form [formGroup]="movieForm" (ngSubmit)="onSubmit()">
    
    <!-- Movie Title -->
    <div class="form-group">
      <label for="title">Title</label>
      <input id="title" type="text" formControlName="title" class="form-control" placeholder="Movie Title" />
    </div>
    <!-- Movie Title -->
    <div class="form-group">
      <label for="Upload File">Upload Movie</label>
      <input type="file"  (change)="onFileSelected($event)" />
    </div>

    <div class="form-group">
      <label for="Upload Poster">Upload Poster</label>
      <input type="file"  (change)="onPosterSelected($event)" />
    </div>
    <div class="form-group">
      <label for="Upload Cover">Upload Cover</label>
      <input type="file"  (change)="onCoverSelected($event)" />
    </div>

    <!-- Duration -->
    <div class="form-group">
      <label for="duration">Duration (in minutes)</label>
      <input id="duration" type="number" formControlName="duration" class="form-control" placeholder="Movie Duration" />
    </div>

    <!-- Description -->
    <div class="form-group">
      <label for="description">Description</label>
      <textarea id="description" formControlName="description" class="form-control" placeholder="Movie Description"></textarea>
    </div>

    <!-- Age Rating -->
    <div class="form-group">
      <label for="ageRating">Age Rating</label>
      <input id="ageRating" type="text" formControlName="ageRating" class="form-control" placeholder="Age Rating" />
    </div>

    <!-- Release Date -->
    <div class="form-group">
      <label for="releaseDate">Release Date</label>
      <input id="releaseDate" type="date" formControlName="releaseDate"  class="form-control" />
    </div>

  

   <!-- Actors Selection -->
<div class="form-group">
    <label for="actorSearch">Actors</label>
    <input id="actorSearch" formControlName="actorSearchTerm" (input)="searchActors()" placeholder="Search for actors..."
    />
    <ul *ngIf="(filteredActors$ | async) as actors">
      <li *ngFor="let actor of actors" (click)="addActor(actor)">
        {{ actor.actorName }}
      </li>
    </ul>
    <div *ngFor="let actor of selectedActors" class="selected-actor">
      {{ actor.actorName }} <span class="remove-actor" (click)="removeActor(actor)">✖</span> <!-- إشارة إكس لإزالة الممثل -->
    </div>
  </div>
  
  <!-- Categories Selection -->
  <div class="form-group">
    <label for="categorySearch">Categories</label>
    <input 
    id="categorySearch" 
    formControlName="categorySearchTerm" 
    (input)="searchCategories()" 
    placeholder="Search for categories..."
    />
    <ul *ngIf="(filteredCategories$ | async) as categories">
      <li *ngFor="let category of categories" (click)="addCategory(category)">
        {{ category.categoryName }}
      </li>
    </ul>
    <div *ngFor="let category of selectedCategories" class="selected-category">
      {{ category.categoryName }} <span class="remove-category" (click)="removeCategory(category)">✖</span> <!-- إشارة إكس لإزالة التصنيف -->
    </div>
  </div>
  


    <!-- Submit Buttons -->
    <div class="form-buttons">
      <button type="submit" class="btn btn-primary" >Save Movie</button>
      <button type="button" class="btn btn-secondary" (click)="closeForm()">Cancel</button>
    </div>
  </form>
</div>
</div>
</div>
</div>