
.add-movie-container {

    max-width: 600px;
    margin: 0 auto;
  
    
    .form-group {
      margin-bottom: 15px;
    }


    .form-group input,
    .form-group textarea {
      width: 100%;
      padding: 10px;
      border: 1px solid #ccc;
      border-radius: 4px;
      background-color: #f9f9f9;
      color: #555;
      border-color: #c4b03d;
    }
  
    .form-group textarea 
    {
      height: 100px;
      
    }
    .form-group label {
      display: block;
      font-weight: bold;
      margin-bottom: 5px;
      color: #333; /* لون الرأس */
      padding: 5px; /* padding لإضفاء المساحة حول النص */
      border-radius: 4px; /* حدود مستديرة */
    }
  
    .form-buttons {
      text-align: center;
  
      .btn {
        margin: 10px;
      }
    }
  
    .selected-items {
      display: flex;
      flex-wrap: wrap;
      gap: 5px;
  
      span {
        background-color: #d1e7dd;
        padding: 5px;
        border-radius: 5px;
  
        .remove-item {
          cursor: pointer;
          color: #dc3545;
          margin-left: 5px;
        }
      }
    }
  
    ul {
      list-style: none;
      padding: 0;
  
      li {
        padding: 5px;
        cursor: pointer;
  
        &:hover {
          background-color: #f1f1f1;
        }
      }
    }

    .remove-actor, .remove-category {
      cursor: pointer; /* تغيير المؤشر عند التمرير فوقه */
      color: red; /* لون مختلف لإشارة الإزالة */
    }
    .selected-actor, .selected-category {
      display: flex;
      justify-content: space-between; /* توزيع العناصر */
      align-items: center; /* محاذاة عمودي */
      padding: 5px;
      background-color: #f9f9f9; /* لون خلفية مختلف */
      border: 1px solid #ddd;
      border-radius: 4px;
      margin-top: 5px; /* مسافة بين العناصر المحددة */
    }
  }
  