.container {
    margin: 0 ;
    padding: 0;
  }
  
  .card {
    border: none;
    transition: transform 0.3s;
  }
  
  .card:hover {
    transform: scale(1.05);
  }
  
 
  
  .bg-dark {
    background-color: rgba(0, 0, 0, 0.644) !important;
  }
  .bg-success {
    --bs-bg-opacity: 1;
    background-color:#c4b03d !important;
}
.text-color{
  color: #f0d228;
}
