<div class="container text-center mt-5">
  <div class="p-5 text-center bg-dark text-white rounded shadow-lg" style="opacity: 0.9;">
    <div class="d-inline-block bg-success text-white p-3 h5 rounded mb-4" role="alert">
      <h5 class="m-1">
        <i class="fas fa-film"></i> Welcome to <strong>MovieVerse</strong> - Your Gateway to Infinite Cinema!
      </h5>
    </div>
    <h1 class="display-4">Explore the Endless World of Movies</h1>

    <p class="lead px-lg-5 mx-lg-5 text-color">
      Discover top-rated films, explore hidden gems, and immerse yourself in the ultimate movie experience. With <strong>MovieVerse</strong>, the world of cinema is just a click away.
    </p>

    <a *ngIf="!hasLoggedIn" (click)="login()" class="px-4 btn btn-primary ms-1" role="button">
      <i class="fa fa-sign-in"></i> Dive In
    </a>
  </div>
</div>
