
<div class="movie-card"
(click)="goToMovieDetails()"
(mouseenter)="onMouseEnter()"
(mouseleave)="onMouseLeave()"
[ngClass]="{ 'hovered': isHovered }"
>
<div class="poster">
  <img [src]="posterBlob" alt="{{ movie.title }}">
</div>

  <div class="hovered-info" *ngIf="isHovered">
    <div class="poster-container">
      <img [src]="posterBlob" alt="{{ movie.title }}" class="hovered-poster" />
    </div>
    <div class="movie-details">
      <h5 class="movie-title">{{ movie.title }}</h5>
      <span *ngFor="let category of categories" class="movie-categories">{{ category.categoryName }}</span>

      <div class="rating">
        <fieldset class="rating">
          <label *ngFor="let star of [1, 2, 3, 4, 5]" [ngClass]="{'filled': star <= averageRating}">
            ★
          </label>
        </fieldset>
      </div>
      <p class="release-date">{{ movie.releaseDate | date: 'MMMM d, y' }}</p>
    </div>
    <button class="add-btn" (click)="isInList ? removeFromMyList($event) : toggleMovieInList($event)" 
        [title]="isInList ? 'Remove from my list' : 'Add to my list'">
  <i class="fa" [ngClass]="isInList ? 'fa-times' : 'fa-plus'"></i>
</button>
    
  </div>
</div>
