.movie-card {
  position: relative;
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
}

.poster {
  width: 100%;
  height: 380px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.movie-card.hovered .poster {
  opacity: 0; /* إخفاء الصورة عند التمرير */
}

.hovered-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  border: 1px solid #ccc;
  box-shadow: 0 0 15px #C4AF3D; /* توهج أصفر حول المستطيل */
  position: absolute;
  top: 0;
  left: 0;
  width: calc(100% + 40px); /* عرض المستطيل مع الزيادة */
  height: 400px; /* طول المستطيل */
  z-index: 1;
  transform: scale(1.05);
  transition: transform 0.3s ease;
  padding-bottom: 0; /* إزالة الفراغ أسفل المستطيل */
}

.poster-container {
  position: relative;
  margin-top: -20px; /* صورة البوستر تبرز بمقدار 20 بيكسل */
  margin-bottom: 10px;
}

.hovered-poster {
  width: 70%; /* حجم البوستر المصغر */
  height: auto;
  box-shadow: 0 0 10px #C4AF3D; /* توهج أصفر */
  border-radius: 8px;
}

.movie-details {
  text-align: center; /* توسيط النصوص أفقياً */
}

.movie-title {
  font-weight: bold;
  color: #C4AF3D;
  margin-top: 10px;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

.movie-categories {
  color: gray;
  font-size: 0.9em;
  margin-bottom: 5px;
}

.rating label {
  color: lightgray;
  font-size: 1.2em;
}

.rating label.filled {
  color: gold;
}

.release-date {
  font-size: 0.85em;
  color: gray;
  margin-top: 5px;
}

.add-btn {
  margin-top: auto; /* جعل الزر في الأسفل دون فراغ */
  background-color: #C4AF3D;
  color: white;
  border: none;
  border-radius: 0; /* شكل مستطيل بدون زوايا دائرية */
  width: 100%; /* ملء المساحة بالكامل */
  height: 40px; /* ارتفاع ثابت للزر */
  font-size: 1.5em;
  cursor: pointer;
}

.add-btn:hover {
  background-color: darkyellow;
}
