
<div class="card">
    <div class="card-header">
      <div class="row">
        <div class="col col-md-6">
         
        </div>        
        <div class="text-end col col-md-6">
            
          <!-- Add the "new city" button here -->
          <div class="add-movie-btn-container">
            <button id="create" class="btn btn-primary" type="button" (click)="navigateToAddMovie()">
              
              <i class="fa fa-plus mr-1"></i>
              <span>{{ "::AddNewMovie" | abpLocalization }}</span>
            </button>
          </div>
        </div>
      </div>
    </div>
          <!-- Loading indicator -->
          <div *ngIf="isLoading" class="loading-spinner">
            <div class="spinner-border text-primary" role="status">
              <span class="visually-hidden">Loading...</span>
            </div>
          </div>
          <div *ngIf="!isLoading">
            <div class="card-body" *ngIf="!isLoading">
              <ngx-datatable  [rows]="movie.items" [count]="movie.totalCount" [list]="list" default (activate)="onRowActivate($event)">
                <ngx-datatable-column [name]="'::Actions' | abpLocalization"
                 [maxWidth]="150"
                 >
                  <ng-template let-row="row" ngx-datatable-cell-template>
                    <div ngbDropdown container="body" class="d-inline-block" (click)="$event.stopPropagation()">
                      <button
                       class="btn btn-primary btn-sm dropdown-toggle"
                       data-toggle="dropdown"
                       aria-haspopup="true"
                       ngbDropdownToggle
                       >
                        <i class="fa fa-cog mr-1"></i>{{ '::Actions' | abpLocalization }}
                      </button>
                      <div ngbDropdownMenu>
                        <button ngbDropdownItem (click)="editMovie(row.id)">
                          {{ '::Edit' | abpLocalization }}
                        </button>
                        <button ngbDropdownItem (click)="delete(row.id)">
                          {{ '::Delete' | abpLocalization }}
                        </button>
                      </div>
                    </div>
                  </ng-template>
                </ngx-datatable-column>
          
                <ngx-datatable-column [name]="'::MovieTitle' | abpLocalization" prop="title"></ngx-datatable-column>
                <ngx-datatable-column [name]="'::AddedDate' | abpLocalization" prop="created">
                  <ng-template let-row="row" ngx-datatable-cell-template>
                    {{ row.creationTime | date }}
                  </ng-template>
                </ngx-datatable-column>
              </ngx-datatable>
          
            </div>
  

             
          </div>
          
  
          
  
          <!-- No movies message -->
          <div *ngIf="!isLoading && movie.totalCount === 0" class="no-movies-message">
            No movies available. Please add a new movie.
          </div>
        <!--</ngx-datatable>-->
      
    </div>
    
  