

  .full-width-search {
    width: 100%;
    padding-right: 35px; /* مسافة كافية للأيقونة */
    border-color: #c4b03d;
  }
  
  .search-icon {
    position: absolute;
    top: 50%;
    right: 10px; /* وضع الأيقونة في أقصى اليمين */
    transform: translateY(-50%);
    color: #c4b03d;
    font-size: 1.2em;
    cursor: pointer;

  }

  .search-input {
    font-size: 14px; /* محاذاة حجم النص مع الأزرار */
    padding: 0.5rem 0.75rem;
    border-color: #c4b03d;
  
  }
  
  
  .card .card-header .btn {
    font-size: 1em;
    font-weight: 400;
    background: #c4b03d;
    color: #ffffff;
    margin: 0;
    padding: 0.375rem 0.5rem;
    border-color: #f5f5f7;
    min-width: 120px; /* توحيد عرض الأزرار */
  
  }
  .no-movies-message {
    text-align: center;
    font-size: 18px;
    color: gray;
    margin-top: 20px;
  }
  .form-group {
    position: relative;
  }
  
  .dropdown-menu.show {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    max-height: 200px;
    overflow-y: auto;
    background-color: #ffffff;
    border: 1px solid #ccc;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 1000; // لضمان الظهور أمام العناصر الأخرى
    padding: 0;
    list-style: none;
    margin-top: 0.25rem;
  }
  
  .dropdown-menu li {
    padding: 8px 12px;
    cursor: pointer;
  }
  
  .dropdown-menu li.active,
  .dropdown-menu li:hover {
    background-color:#c4b03d;
    color: #ffffff;
  }